<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="tasksLogger"
                     fileName="src\main\java\searchengine\logs\tasks.log"
                     filePattern="src\main\java\searchengine\logs\tasks-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePathr}" maxDepth="10">
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="errorsLogger"
                     fileName="src\main\java\searchengine\logs\errors.log"
                     filePattern="src\main\java\searchengine\logs\errors-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePathr}" maxDepth="10">
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <File name="mainLogger" fileName="src\main\java\searchengine\logs\main.log" immediateFlush="true">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level - %msg%n"/>
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL" />
            </Filters>
        </File>


    </Appenders>

    <Loggers>
        <Logger name="mainLogger" level="info" additivity="false">
            <AppenderRef ref="mainLogger"/>
        </Logger>
        <Logger name="parseTaskLogger" level="info" additivity="false">
            <AppenderRef ref="tasksLogger" level="info"/>
            <AppenderRef ref="errorsLogger" level="error"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="mainLogger" />
        </Root>
    </Loggers>
</Configuration>